name: Deploy to EC2

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy service to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo ">>> Deploying ${{ inputs.service_name }} ..."
            cd /opt/prorfa
            ./scripts/update-service.sh ${{ inputs.service_name }}
            echo ">>> Deploy completado."
